html,
body,
#app {
  height: 100%;
  margin: 0;
  padding: 0;
  text-rendering: optimizeLegibility;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

html.dark {
  color: #CCCCCC;
  background: #3E3E3E;
}

html.light {
  color: #3E3E3E;
  background: #CCCCCC;
}

h1, h2, h3, h4, h5 {
  font-family: Segoe UI,Frutiger,Frutiger Linotype,Dejavu Sans,Helvetica Neue,Arial,sans-serif;  
}

h1 {
  font-size: 48px;
  font-weight: 600;
}

h2 {
  font-size: 32px;
  font-weight: 600;
}

h3 {
  font-size: 24px;
  font-weight: 500;
}

h4 {
  font-size: 18px;
  font-weight: 500;
}

h5 {
  font-weight: 500;
}

p {
  margin-bottom: 1em;
}